
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
}

.container {
  display: flex;
  justify-content: space-between; /* Positions the child divs to the left and right */
  /*border: 1px solid #ff0000; /* Optional: for visual clarity */
  padding: 10px; /* Optional: for some spacing inside the container */
}
.left-div, .right-div {
  width: 45%; /* Adjust the width as needed */
  /*border: 1px solid #ff0000; /* Optional: for visual clarity */
  padding: 10px; /* Optional: for some spacing inside the divs */
}