
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px; /* Optional: for some spacing inside the container */
}

.left-div, .right-div {
  padding: 5px; /* Optional: for some spacing inside the divs */
}

/* Default styles for small screens */
.left-div {
  width: 100%;
}

.right-div {
  display: none;
}

/* Styles for medium and larger screens */
@media (width: 700px) {
  .left-div, .right-div {
    width: 50%;
  }

  .right-div {
    display: flex;
  }
}